.gradle
build/
**/build/
!gradle/wrapper/gradle-wrapper.jar

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/

### Android ###
.navigation/
captures/
*.apk
*.ap_
*.dex
*.class
bin/
gen/
local.properties

### macOS ###
.DS_Store

### Unwanted Files ###
text_README.md
how
.kotlin/
