.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/

### Android ###
.navigation/
captures/
*.apk
*.ap_
*.dex
*.class
bin/
gen/
local.properties
/media/soman/New Volume/tests/ThePattApp/androidApp/build/
/media/soman/New Volume/tests/ThePattApp/shared/build/
/media/soman/New Volume/tests/ThePattApp/desktopApp/build/

### macOS ###
.DS_Store
